/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); } */


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input, button {
  border: 1px dotted rgb(97, 93, 93);
  border-radius: 10px;
  font-family : inherit;
  font-size   : 100%;

  -webkit-appearance: none;
}

button {
  
    padding      : 5px;
  
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
  
    cursor       : pointer;
  
  -webkit-transform: rotate(-1.5deg);
     -moz-transform: rotate(-1.5deg);
      -ms-transform: rotate(-1.5deg);
       -o-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  }
  
  button:after {
    content: " >>>";
  }
  
  button:hover,
  button:focus {
    outline   : none;
    background: #000;
    color   : #FFF;
  }
  
